SECRET_KEY=<YOUR SECRET KEY TO FLASK->


# AWS RDS Database
DB_USER=<YOUR DB USER>
DB_PASSWORD=<YOUR DB PASSWORD>
DB_HOST=<YOUR DB HOST>
DB_PORT=<YOUR DB PORT>
DB_NAME=<YOUR DB NAME>
TEST_DB_NAME=<YOUR DB NAME FOR TESTS>